/* Common */
body {
    background-color: #272822;
}

a {
    color: #f92672;
    text-decoration: none;
}

#preamble a {
    color: #ae81ff;
}

.title {
    display: none;
}

#content p {
    color: #bbbbbb;
    font-size: 16px;
}

.articles a {
    font-size: 18px;
}

.timestamp {
    color: #808080;
    font-size: 16px;
}

h2 {
    color: #808080;
    opacity: 0.7;
    text-align: center;
    margin-top: 10%;
}

.contact a {
    padding-right: 0.5rem;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    #content {
	margin-top: 5%;
	margin-left: 35%;
	margin-right: 50%;
	width: 30%;
    }

    #preamble {
	top: 0px;
	margin-left: 25%;
	margin-right: 50%;
	width: 50%;
	text-align: center;
    }


    .articles {
	width: 100%;
	text-align: left;
	line-height: 5%;
    }
}
