/* Common */
body {
    background-color: #272822;
    min-height: 100vh;
    position: relative;
}

#preamble a {
    color: #ae81ff;
}

a {
    text-decoration: none;
}

ul, ol {
    color: #808080;
    font-size: 14px;
}

#content h1 {
    color: #bbbbbb;
    opacity: 0.5;
    border-bottom: 1px solid #bbbbbb;
}

#content h2 {
    color: #f92672;
    opacity: 0.7;
}

#content h3 {
    color: #808080;
    opacity: 0.7;
}

#content h4 {
    color: #707070;
    opacity: 0.5;
}

#content p {
    color: #aaaaaa;
    font-size: 16px;
}

#content a {
    color: #f92672;
    font-size: 14px;
}

.figure {
    text-align: center;
    width: 100%;
    font-size: 10px;
}

#table-of-contents h2 {
    display: none !important;
}

img {
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#content {
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
}

#postamble {
    color: #aaaaaa;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    #preamble {
	position: fixed;
	overflow-y: scroll;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	top: 0px;
	margin-left: 5%;
    }

    #content {
	margin-left: 32%;
	margin-right: 23%;
	width: 50%;
    }

    #content h1 {
	font-size: 64px;
	text-align: right;
	margin-bottom: 10%;
	padding-bottom: 5%;
    }

    #text-table-of-contents {
	position: fixed;
	overflow-y: scroll;
	top: 0px;
	left: 0%;
	margin-left: 4%;
	margin-top: 8%;
    }
}
